body {
    background-color: #2B2929;
    color: gainsboro;
    font: Monospace;
}

.bottomside {

    width: 100px;
    margin: auto;
}

.active {
    background-color: #AE81FF;
}

.active:hover {
    color: #1E1F1C;
}

ul {
    position: sticky;
    background-color: #1E1F1C;
    border-top: 2px solid #AE81FF;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    
    float: left;
}

li a {
    display: block;
    color: gainsboro;
    padding: 10px 25px;
    text-decoration: none;
}

li a:hover {
    background: #AE81FF;
    color: #1E1F1C;
}

h1 {
    color: whitesmoke;
    /*background-color: dimgrey;*/
    margin-top: 40px;
}